# /etc/osgateway/osgateway.env
# sudo chmod 600 /etc/osgateway/osgateway.env

DB_URL=jdbc:postgresql://127.0.0.1:5432/os_gateway
DB_USER=osgateway
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=osgateway
RABBITMQ_PASSWORD=CHANGE_ME_RABBIT_PASSWORD
JWT_SECRET=CHANGE_ME_JWT_SECRET_AT_LEAST_32_CHARS_LONG
JAVA_TOOL_OPTIONS=-Xms128m -Xmx512m
SPRING_DATASOURCE_HIKARI_MAXIMUM_POOL_SIZE=5
SPRING_DATASOURCE_HIKARI_MINIMUM_IDLE=1

# URLs internes (localhost)
AUTH_SERVICE_URL=http://127.0.0.1:8081
USER_SERVICE_URL=http://127.0.0.1:8082
GATEWAY_SERVICE_URL=http://127.0.0.1:8083
USSD_SERVICE_URL=http://127.0.0.1:8084
SMS_SERVICE_URL=http://127.0.0.1:8085
TRANSACTION_SERVICE_URL=http://127.0.0.1:8086
NOTIFICATION_SERVICE_URL=http://127.0.0.1:8087
AUDIT_SERVICE_URL=http://127.0.0.1:8088
REPORTING_SERVICE_URL=http://127.0.0.1:8089
SCHEDULER_SERVICE_URL=http://127.0.0.1:8090
MONITORING_SERVICE_URL=http://127.0.0.1:8091

# Optionnel FCM
# FIREBASE_CREDENTIALS_PATH=/etc/osgateway/firebase-adminsdk.json
